.productos-panel {
    background: #0c0c0c;
    padding: 25px;
    border-radius: 15px;
    color: #fff;
}

/* HEADER */
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

    .panel-header .titulo {
        font-size: 2rem;
        font-weight: bold;
    }

.subtitulo {
    color: #bbb;
    margin: 0;
}

/* BOTONES */
.btn-primary-dark {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-warning-dark {
    background: #e7b000;
    border: none;
    padding: 6px 10px;
    color: #111;
    border-radius: 6px;
}

.btn-danger-dark {
    background: #d9534f;
    border: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 6px;
}

.btn-warning-dark:hover {
    background: #cfa000;
}

.btn-danger-dark:hover {
    background: #c9302c;
}

/* TABLA */
.tabla-container {
    overflow-x: auto;
}

.tabla-dark {
    width: 100%;
    border-collapse: collapse;
    background: #111;
}

    .tabla-dark th {
        background: #222;
        color: #eee;
    }

    .tabla-dark td, .tabla-dark th {
        padding: 12px;
        border-bottom: 1px solid #333;
    }

    .tabla-dark tr:hover {
        background: #1a1a1a;
    }

.tabla-vacia {
    text-align: center;
    padding: 20px;
    color: #777;
}

.img-mini {
    width: 60px;
    border-radius: 6px;
}

/* MODAL OSCURO */
.modal-backdrop-dark {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dark {
    background: #121212;
    width: 600px;
    padding: 25px;
    border-radius: 12px;
    color: white;
    animation: fadeIn .3s ease;
}

.modal-title-dark {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    gap: 15px;
}

.form-group-dark label {
    display: block;
    margin-bottom: 5px;
}

.input-dark {
    width: 100%;
    background: #1d1d1d;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 6px;
    color: white;
}

    .input-dark:focus {
        border-color: #007bff;
        outline: none;
    }

.preview-container {
    text-align: center;
}

.img-preview {
    max-width: 200px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #333;
}

/* FOOTER */
.modal-footer-dark {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
