 Contenedor principal 
.container-productos {
    padding: 30px;
    color: #222;
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

Títulos
.titulo-principal {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.subtitulo {
    color: #666;
    margin-bottom: 20px;
}

 Botón agregar 
.btn-agregar {
    background-color: #ffc107;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: 600;
    color: #222;
    transition: all 0.3s;
    cursor: pointer;
}

    .btn-agregar:hover {
        background-color: #e0a800;
    }

 Tabla 
.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.tabla-productos thead th {
        background-color: #343a40;
        color: #fff;
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid #212529;
    }

    .tabla-productos tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .tabla-productos tbody tr:hover {
        background-color: #d6d6d6;
    }

    .tabla-productos tbody td {
        padding: 10px;
        vertical-align: middle;
        border-bottom: 1px solid #dee2e6;
    }

 Imagen en tabla 
.imagen-tabla {
    border-radius: 8px;
    max-width: 100px;
    height: auto;
}

 Modal 
.fondo-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1050;
}

.modal-content {
    background-color:#fff;
    color: black;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

    .modal-content h4 {
        color: black;
    }

 Etiquetas 
.form-label {
    font-weight: 600;
    color: black;
}

 Botones generales 
button.btn {
    border-radius: 6px;
    cursor: pointer;
}

 Botones de acción 
.btn-editar, .btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-editar {
    color: #0d6efd;
}

.btn-eliminar {
    color: #dc3545;
}

    .btn-editar:hover, .btn-eliminar:hover {
        text-decoration: underline;
    }


.btn-guardar {
    background-color: #000;
    color: #fff;
    border: 2px solid #ffc107;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .btn-guardar:hover {
        background-color: #222;
    }


.btn-cancelar {
    background-color: #ffc107;
    color: #000;
    border: 2px solid #000;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s;
}

    .btn-cancelar:hover {
        background-color: #e0a800;
    }
