
/* Estilos generales */
body login registro {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Contenedor principal */
.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el texto en el contenedor */
}

/* Estilos de encabezados */
h2, h4, h5 {
    color: #343a40;
}

/* Botones */
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Estilos de formularios */
.form-card {
    display: flex; 
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1; /* Fondo gris */
    border-radius: 8px;
    text-align: left; /* Texto alineado a la izquierda */
}

.form-label {
    font-weight: bold;
    display: block; /* Asegura que el label ocupe toda la línea */
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

.form-control {
    width: calc(100% - 20px); /* Ajusta el ancho para evitar desbordamiento */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Estilos para botones sociales */
.social-login {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.btn-social {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-social img {
        margin-right: 5px;
    }

    .btn-social.google {
        background-color: #db4437;
        color: white;
    }

    .btn-social.apple {
        background-color: #f9f9f900;
        color: black;
    }

    .btn-social.microsoft {
        background-color: #f25022;
        color: white;
    }

    .btn-social:hover {
        opacity: 0.8;
    }
